dot_net_crash_course/01_base
dot_net_crash_course/02_data_types
dot_net_crash_course/03_enum
dot_net_crash_course/04_arrays
dot_net_crash_course/04_logic
dot_net_crash_course/05_cycles
dot_net_crash_course/07_strings
dot_net_crash_course/08_string_builder